<form method="post" action="uploadfile" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="newFile" class="form-label">Upload your newFile here:</label>
        <input type="file" name="newFile" class="form-control" id="newFile" aria-describedby="emailHelp" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>